@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}
#data-table_filter input{
    color: black !important;
    background-color: white !important;
    }
#printQR{
    width: 150px;
    height: 50px;
    border-radius: 7px !important;
}
/* input {
    color: white !important;
    background-color: black !important;
    } */
#printQR:hover {
    background-color: white !important;
    border: 1px solid #3c5393 !important;
    color: #3c5393 !important;
}
#printQR:active {
    background-color: #3c5393 !important;
    color: white !important;
}
    